@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="display-4">Log in</h1>
    <a class="btn btn-lg btn-primary" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">
        <i class="fab fa-google"></i> Sign in with Google
    </a>
</div>
