@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-6">
        <section>
            <h4>Use an external service to log in.</h4>
            <hr />
            <div>
                <p>
                    <a class="btn btn-primary" asp-action="ExternalLogin" asp-route-provider="Google" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        Login with Google
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary" asp-action="ExternalLogin" asp-route-provider="Facebook" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        Login with Facebook
                    </a>
                </p>
            </div>
        </section>
    </div>
</div>